<% provide(:title, "About") %>
		<h1> About </h1>
			<p> This app is a prototype built by John Mullin for ORM Technologies. It's purpose serves to deonstrate John's:</p>
				<ul>
  					<li type="square">Capabilities in learning a new language and new concepts</li>
 					<li type="square">Pre-established foundation in Ruby</li>
  					<li type="square">Comfrotability with the rails framework</li>
				</ul>
			<h3> Contact </h3>

				<li><a href="mailto:jmullin@smu.edu?Subject=I%saw%20your%20app!" target="_top">jmullin@su.edu</a></li>
				<li><p>602.999.0056</p></li>
				<li><p> 6638 Airline Rd. Dallas, TX 75205</p></li>

		

	</body>
</html>


