<% provide(:title, 'Contact') %>
<!doctype html>
<html>
	<body>
		<h1>John Mullin</h1>
		<center>
		<%= link_to image_tag("me2.jpg", alt: "John Mullin"),
              'https://www.linkedin.com/in/john-mullin-9685899b?authType=NAME_SEARCH&authToken=yOQg&locale=en_US&srchid=3567590721456906063998&srchindex=1&srchtotal=161&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3567590721456906063998%2CVSRPtargetId%3A356759072%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue%2CauthType%3ANAME_SEARCH/' %>
		<p>  </p>
		<a href="mailto:jmullin@smu.edu?Subject=I%saw%20your%20app!" target="_top">jmullin@su.edu</a>
		<p> 602.999.0056</p>
		<p> 6638 Airline Rd. Dallas, TX 75205</p>
	</center>
	</body>
</html>
