<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
	Simply follow your team members that you want to listen to and have your team members follow you back. Once you have your group connections made you can seemlessly share microposts about anything and everything. You can even upload images in your microposts. Enjoy!
</p>