<% provide(:title, 'the App') %>
<!doctype html>
<html>
	<body>
		<h1>The App</h1>
		<p> This is a professional grade web-based Rails application packed with a ton of features. Here is a description of some of the features I choose to include behind the scenes to make this such a clean, fast, secure web app: </p>
		<p><b> Security </b></p>
			<ul>
  				<li type="square">SSL - Secure socket layer encryption for strict transport security</li>
 		 		<li type="square">Bcrypt - Military grade password encryption</li>
			</ul>
		<p><b>  Storage </b></p>
			<ul>
  				<li type="square">SQLite - Back end database </li>
 		 		<li type="square">Amazon S3 - Expansive cloud storage     </li>
			</ul>
		<p><b>  Service </b></p>
			<ul>
  				<li type="square">Puma - Professional web server reliability </li>
 		 		<li type="square">Heroku - Cloud application platform   </li>
			</ul>
		<p><b>  Posting </b></p>
			<ul>
  				<li type="square">MiniMagic - Convenient, seemless picture resizing </li>
 		 		<li type="square">CarrierWave - Picture uploading made easy </li>
			</ul>
	</body>
</html>
