<footer class="footer">
  <small>
    The Teamly</a>
    by <a href="https://www.linkedin.com/in/john-mullin-9685899b?authType=NAME_SEARCH&authToken=yOQg&locale=en_US&srchid=3567590721456906063998&srchindex=1&srchtotal=161&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3567590721456906063998%2CVSRPtargetId%3A356759072%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue%2CauthType%3ANAME_SEARCH/">John Mullin</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "The App", theApp_path %></li>
      <Li><a href="mailto:jmullin@smu.edu?Subject=I%20saw%20your%20app!" target="_top">Message the Creator</a></li>
    </ul>
  </nav>
</footer>